[submodule "wayland-odin"]
	path = wayland-odin
	url = git@github.com:jqcorreia/wayland-odin.git
[submodule "vendor/wayland-odin"]
	path = vendor/wayland-odin
	url = git@github.com:jqcorreia/wayland-odin.git
[submodule "vendor/libschrift-odin"]
	path = vendor/libschrift-odin
	url = https://github.com/jqcorreia/libschrift-odin
